.tasks {
  box-sizing: border-box;
  width: 100%;
  /* margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 108px;
  margin-right: 108px; */
}

.section-wrapper {
  /* width: 100%; */
  padding: 0 108px;
}

.section-wrapper__tasks {
  display: flex;
  justify-content: space-between;
}

.tasks__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 77px 45px;
  background: var(--light-color);
  border-radius: 15px;
  /* max-width: 595px; */
  width: 48%;
  box-sizing: border-box;
  box-shadow:
    15px -15px 20px rgba(143, 157, 167, 0.05),
    -15px 15px 20px rgba(143, 157, 167, 0.05),
    -15px -15px 20px rgba(143, 157, 167, 0.05),
    15px 15px 20px rgba(143, 157, 167, 0.05);
}

.tasks__text-block {
  display: flex;
  flex-direction: column;
}

.tasks__text-block_second {
  flex-direction: row;
}

.tasks__title {
  margin: 0 0 29px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.17;
}

.tasks__text {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.tasks__list {
  margin: 0;
  margin-bottom: 11px;
  list-style-position: inside;
}

.tasks__item {
  list-style-type: disc;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  /* margin-bottom: 16px; */
}

.tasks__item:last-child {
  margin-bottom: 0;
}

.tasks__image-first {
  max-width: 410px;
}

.tasks__button {
  margin: 0;
  margin-top: 20px;
  /* margin-bottom: 45px; */
  border: none;
  background-color: #262626;
  border-radius: 14px;
  min-height: 60px;
  /* padding-left: 93px;
  padding-right: 93px; */
  min-width: 400px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tasks__button:hover {
  background-color: var(--blue-primary-color);
}

.tasks__button:active {
  background-color: #1C4BA8;
}

.tasks__link {
  text-decoration-line: none;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 460px) {
  .section-wrapper {
    padding: 0 15px;
  }

  .section-wrapper__tasks {
    flex-direction: column;
  }

  .tasks__container {
    width: 100%;
    padding: 40px 32px;
  }

  .tasks__container_first {
    margin-bottom: 25px;
  }

  .tasks__title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .tasks__item {
    font-size: 16px;
  }

  .tasks__image {
    width: 205px;

  }

  .tasks__image_second {
    width: 205px;
  }

  .tasks__button {
    min-width: 280px;
  }
}