:root {
  --main-bg-color: #FBFAF8;
  --blue-primary-color: #5686E3;
  --blue-secondary-color: #D7E8FB;
  --light-color: #FFFFFF;
  --gray-stroke-color: #808080;
  --gray-light-color: #E8E8E8;
  --black-text-color: #000000;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: 'YS Display','Helvetica', sans-serif;
  background-color: var(--main-bg-color);
  font-weight: 400;
}

.inner {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 460px) {
  .page {
    max-width: 375px;
  }
}